
<h2>Používateľský profil</h2>
    <p>
        <img class="avatar-image" alt="AvatarImage" src="{% static 'store/images/default_avatar.webp' %}">
            {{ customer.avatar }}
    </p>
    <p><strong>Meno:</strong> {{ customer.first_name }}</p>
    <p><strong>Priezvisko:</strong> {{ customer.last_name }}</p>
    <p><strong>Adresa:</strong> {{ customer.address }}</p>
    <p><strong>Mobilné číslo:</strong> {{ customer.mobile_number }}</p>
    <p><strong>Dátum narodenia:</strong> {{ customer.birth_date }}</p>



    <a href="{% url 'create_profile' %}">Vytvoriť Profile</a>

{% endblock %}
