{% load static %}

<!DOCTYPE html>
<html lang="sk">
<head>
     <title>change picture</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'store/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="{% static 'store/script.js' %}"></script>
</head>
<body onload = "startTimer()">
    <header class="headContainer">
        <a href="{% url 'index' %}">
            <img class="img" alt="MainImage" src="{% static 'store/images/MainImage.jpg' %}">
        </a>
        <a href="{% url 'index' %}">
        <h2 style="text-decoration: none;">Ideálne elektro pre vás a váš domov</h2>
        </a>
            {% if request.user.is_authenticated %}
                Prihlásený ako: {{ request.user.username }}
                <a href="{% url 'logout' %}">
                    <img class="img-logout" alt="LogOut" src="{% static 'store/images/login.jpg' %}">Odhlásiť sa
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img class="img-login" alt="LogIn" src="{% static 'store/images/login.jpg' %}">Prihlásenie
                </a>
            {% endif %}
            <a href="{% url 'user_profile' %}">
                Profil
            </a>
            {% if request.user.is_superuser %}
            <a href="/admin/">
                <img class="img-admin" alt="Admin" src="{% static 'store/images/images.png' %}">Admin
            </a>
            {% endif %}
                <a href="{% url 'cart' %}">
                    <img class="img-cart" alt="Cart" src="{% static 'store/images/cart.png' %}">Košík
                </a>

            <ul class="navigation">
                {% for category in categories %}
                    <div>
                        <button class="button-category-images" type="submit"><a href="{% url 'subcategory_detail' category.id %}">{{ category }}</a>
                            {% if category.image %}
                                <img src="{{ category.image.url }}" alt="{{ category.name }} Image"></button>
                            {% endif %}
                    </div>
                {% endfor %}
            </ul>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>Copyright Created by Miroslava Godušová 9.1.2024</footer>
</body>
</html>
