{% load static %}

<!DOCTYPE html>
<html lang="sk">
<head>
     <title>change picture</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'store/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="{% static 'store/script.js' %}"></script>
</head>
<body onload = "startTimer()">
    <header class="headContainer">
        <button class="menu">
            <img class="img-menu" alt="Menu" src="{% static 'store/images/menu.jpg' %}">Menu
        </button>
        <a href="{% url 'index' %}" class="headContainer-center">
            <h1>Vitajte na našej stránke</h1>
        </a>
        <div class="search-container">
            <input type="text" class="search-input" id="searchInput" placeholder="Vyhľadávanie">
            <span class="search-icon" onclick="performSearch()">🔍</span>
        </div>
            <a href="{% url 'index' %}">
                <img class="img" alt="MainImage" src="{% static 'store/images/MainImage.jpg' %}">
            </a>
        <nav class="navContainer1">
            <a href="{% url 'login' %}">
                <button class="login">
                    <img class="img-login" alt="LogIn" src="{% static 'store/images/login.jpg' %}">Prihlásenie
                </button>
            </a>
        </nav>
        <nav class="navContainer1">
            <button class="cart" type="submit">
                <img class="img-cart" alt="Cart" src="{% static 'store/images/cart.png' %}">Košík
            </button>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>Copyright Created by Miroslava Godušová 9.1.2024</footer>
</body>
</html>
