{% extends "base.html" %}

{% block content %}

<h2>Nákupný košík</h2>
{% if cart.items %}
    <ul>
        {% for item in cart.items %}
        <li><a href="{% url 'product_detail' item.1.product_id %}">{{ item.1.name }}
        </a> - Quantity: {{ item.1.quantity }} - Price: ${{ item.1.price }} total_price: {{ item.1.total_price }} </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ total_price }}</p>
    <a href="{% url 'index' %}">Pokračovať v nákupe</a>
{% else %}
    <p>Tvoj košík je prázdny.</p>
{% endif %}

{% endblock %}