{% extends "base.html" %}

{% block title %}
    Vitajte
{% endblock %}

{% block content %}

{% load static %}

<script>
      startTimer();
      setInterval(changeImage, 30000);
</script>
    <div class="saleImage" id="imgContainer">
        <img class="saleImage" id="img" src="{% static 'store/images/startpictures.webp' %}">
        <button class="previousButton" type="button" onclick="displayPreviousImage()"><</button>
        <button class="nextButton" type="button" onclick="displayNextImage()">></button>
    </div>

<aside class="sidebar">

    <ul>
        <h2 class="filter">Filtrovať podľa ceny:</h2>
        <li>
            <a href="{% url 'filter_by_price' '0' '100' %}">Od 0 do 100</a>
        </li>
        <li>
            <a href="{% url 'filter_by_price' '100' '500' %}">Od 100 do 500</a>
        </li>
        <li>
            <a href="{% url 'filter_by_price' '500' '1500' %}">Od 500 do 1500</a>
        </li>
        <li>
            <a href="{% url 'filter_by_price' '1500' '5000' %}">Od 1500 do 5000</a>
        </li>
    </ul>

    <ul>
        <h2 class="filter">Filtrovať podľa hodnotenia:</h2>
        <li>
            <a href="{% url 'filter_by_rating' 'popular' %}">Najobľúbenejšie</a>
        </li>
        <li>
            <a href="{% url 'filter_by_rating' 'less_popular' %}">Menej obľúbené</a>
        </li>
    </ul>
</aside>

{% endblock %}

