{% extends 'base.html' %}

{% block content %}
  <h1>Zoznam produktov</h1>
  {% for product in products %}
    <div>
      <h2>{{ product.name }}</h2>
      <p>Cena: ${{ product.price }}</p>
      <!-- Iné informácie o produkte... -->
    </div>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; prvé</a>
            <a href="?page={{ products.previous_page_number }}">predchádzajúce</a>
        {% endif %}

        <span class="current">
            Stránka {{ products.number }} z {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">ďalšie</a>
            <a href="?page={{ products.paginator.num_pages }}">posledné &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}