{% extends "base.html" %}

{% block content %}

<h2> {{ product.name }}</h2>

<h2>Kategórie:</h2>
    <ul>
        {% for category in product.categories.all %}
            <li>
                {{ category.name }}
            </li>
        {% endfor %}
    </ul>

<p>Cena: {{ product.price }} €</p>
<p>Stav: {{ product.stock }}</p>
<p>Popis: {{ product.description }}</p>

<h2>Obrázky:</h2>
    <ul>
        {% for image in product.image.all %}
            <li>
                <img src="{{ image.image.url }}" alt="{{ image.description }}">
            </li>
        {% endfor %}
    </ul>

<p>Recenzie: {{ product.rating }}</p>
<p>Komentáre: {{ product.comment }}</p>

{% endblock %}