<div class="sidebar">

    <h3>Filtrujte podľa ceny:</h3>
    <ul>
        <li>
            <a href="{% url 'filter_by_price' '0' '100' %}">Od 0 do 100</a>
        </li>
        <li>
            <a href="{% url 'filter_by_price' '100' '500' %}">Od 100 do 500</a>
        </li>
        <li>
            <a href="{% url 'filter_by_price' '500' '1500' %}">Od 500 do 1500</a>
        </li>
        <li>
            <a href="{% url 'filter_by_price' '1500' '5000' %}">Od 1500 do 5000</a>
        </li>
    </ul>

    <h3>Filtrujte podľa hodnotenia:</h3>
    <ul>
        <li>
            <a href="{% url 'filter_by_rating' 'popular' %}">Najobľúbenejšie</a>
        </li>
        <li>
            <a href="{% url 'filter_by_rating' 'less_popular' %}">Menej obľúbené</a>
        </li>
    </ul>
</div>
